<h1><%= title %></h1>

<% if (messages.length) { %>
    <% messages.forEach(msg => { %>
      <div class="alert alert-info"><%= msg %></div>
    <% }) %>
<% } %>

<div class="container">
    <form action="/account/login" method="POST" class="login-form">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
            <input type="checkbox" id="showPassword" onclick="togglePassword()"> Show Password
        </div>
    
        <button type="submit" class="btn btn-primary">Login</button>
        <p class="acct">No account? <a href="/account/register">Sign-up</a></p>
    </form>
</div>  

<script>
    function togglePassword() {
        const passwordField = document.getElementById("password");
        const showPasswordCheckbox = document.getElementById("showPassword");
        passwordField.type = showPasswordCheckbox.checked ? "text" : "password";
    }
</script>
