<h1>Update Account Information</h1>
<p>Edit your account details below:</p>
<form action="/account/update/<%= account.id %>" method="POST">
    <label for="first_name">First Name:</label>
    <input type="text" name="first_name" value="<%= account.first_name %>" required>
    
    <label for="email">Email:</label>
    <input type="email" name="email" value="<%= account.email %>" required>
    
    <button type="submit">Update</button>
</form>