<header id="top-header">
  <span class="siteName">CSE Motors</span>
  <div id="tools">
    <% if (user) { %>
      <a title="Go to Account Management" href="/account/">Welcome, <%= user.first_name %></a>
      <a title="Click to log out" href="/account/logout">Logout</a>
    <% } else { %>
      <a title="Click to log in" href="/account/login">My Account</a>
    <% } %>
  </div>
</header>
