<div class="hero-container">
  <h1 class="hero-heading">Welcome to CSE Motors!</h1>
  <div class="hero-image">
    <!-- Transparent Square with Content -->
    <div class="hero-info">
      <h2 class="herotext">DMC Delorean</h2>
      <p class="herotext">3 Cup holders</p>
      <p class="herotext">Superman doors</p>
      <p class="herotext">Fuzzy dice!</p>
      <a href="#" class="own-btn">Own Today</a>
    </div>
  </div>
</div>


    <div class="main-content">
      <div class="body-text">
        <h2 class="body-h2">DMC Delorean Reviews</h2>
        <ul>
          <li class="body-p">"So fast it's almost like travelling in time." (4/5)</li>
          <li class="body-p">"Coolest ride on the road." (4/5)</li>
          <li class="body-p">"I'm feeling McFly!" (5/5)</li>
          <li class="body-p">"The most futuristic ride of our day" (4.5/5)</li>
          <li class="body-p">"80's livin and I love it" (5/5)</li>
        </ul>  
      </div>

      <div class="body-text2">
        <h2 class="body-h2-2">Delorean Upgrades</h2>
        <ul class="grid-list">
          <li class="body-p-2">
            <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
            <a href="#flux-capacitor">Flux Capacitor</a>
          </li>
          <li class="body-p-2">
            <img src="/images/upgrades/flame.jpg" alt="Flame Decals">
            <a href="#flame-decals">Flame Decals</a>
          </li>
          <li class="body-p-2">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
            <a href="#bumper-stickers">Bumper Stickers</a>
          </li>
          <li class="body-p-2">
            <img src="/images/upgrades/hub-cap.jpg" alt="Hub Caps">
            <a href="#hub-caps">Hub Caps</a>
          </li>
        </ul>  
      </div>
  </div>









