<% if (typeof messages === 'undefined') { var messages = []; } %>
<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <script>window.location.href = '/';</script>
<% } %>

<!-- Display any messages if available -->
<% if (messages && messages.length) { %>
  <div class="messages">
      <% messages.forEach(function(msg) { %>
          <p class="message"><%= msg %></p>
      <% }); %>
  </div>
<% } %>

<!-- Render the grid content -->
<%- grid %>

